*{
    margin: 0;
}
.gamer-container{
    display: flex;
}
.nav-section-top{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    color: #3C354F;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
}
.nav-container{
    display: flex;
padding: 0 50px;
width: 1920px;
height: 130px;
flex-shrink: 0;

align-items: center;
justify-content: space-between;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}

.gamer-container > img{
    width: 75px;
height: 32px;
flex-shrink: 0;
}
.gamer-container{
    text-align: center;
font-size: 34px;
font-weight: 700;
gap: 20px;
align-items: center;


}
.follow-us-container{
    width: 200px;
height: 46px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
display:flex;
align-items: center;
justify-content: space-evenly;
}

.section1{
    width: 1920px;
    height: 680px;
display: flex;
justify-content: space-between;
padding: 0 50px;
align-items: center;



}
.black-title{
    color: #0B0223;

font-size: 48px;
font-weight: 600;

}
.gradient-text{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.heading-list-items{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.list-text{
    color: #534C64;
text-align: center;
font-size: 20px;
font-weight: 500;
padding-left: 10px;
}
.buttons{
    
    display: inline-flex;
padding: 30px 0;
align-items: flex-start;
gap: 10px;
}
.pink-btn{
    
    border-radius: 24px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;


}
.blue-btn{
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.section2{
    width: 1920px;
height: 600px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
padding: 0 50px;
}


.section2-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: right;
font-size: 48px;
font-weight: 700;
line-height: normal;
}
.section2-text{
    width: 520px;
    color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}

.section2-button{
    display: inline-flex;
padding: 21px 40px;

border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;

font-size: 20px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border: 0;

}
.know-more-text{
    color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;
color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px;
}
.online-games-section{
    width: 1920px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.heading-text-black{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.heading-text-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.online-game-text{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.text-image-container1{
    width: 1920px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}
.left-text{
    text-align: right;
font-size: 48px;

font-weight: 700;
line-height: 60px; 
padding-left: 400px;
}
.pink-text{
    text-align: right;
font-size: 48px;
font-weight: 700;
line-height: 60px; 
    background: linear-gradient(180deg, #F948B2 0%, #f158cd 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.background-image1{
    width: 634.833px;
height: 650px;
flex-shrink: 0;
border-radius: 8px;
background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}
.front-image1{
    width: 318.5px;
height: 365.083px;
flex-shrink: 0;
border-radius: 8px;
border: 10px solid #FFF;
background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}
.text-paragraph{
    width: 400px;
    color: #534C64;
text-align: right;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.position-image{
    position: relative;
}
.front-image1{
position: absolute;
bottom: -10%;
left: -25%;
}
.text-image-container2{
    width: 1920px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
   
}
.background-image2{
    width: 710px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 8px;
background: url(<path-to-image>), lightgray 0px -18.568px / 100% 146.779% no-repeat;
}
.front-image2{
    width: 318px;
    height: 365px;
    flex-shrink: 0;
    border-radius: 8px;
border: 10px solid #FFF;
background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
position: absolute;
bottom: -10%;
right: -25%;
}
.right-title{
    text-align: right;
font-size: 48px;

font-weight: 700;
line-height: 60px; 
}
.right-description{
    width: 400px;
    color: #534C64;
text-align: left;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}

.career-section{
    width: 1920px;
height: 821px;
flex-shrink: 0;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
display: flex;
justify-content: space-between;
}
.left-container{
    color: #FFF;

}
.text > h3{
    
    width: 426px;
    color: #FFF;

font-size: 48px;
padding-left: 80px;
font-weight: 700;
line-height: 60px; 
}
.text > p{
    width: 680px;
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
padding-left: 80px;
}
.list-container{
    display: flex;
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 40px; 
padding-left: 35px;
}
.white-btn{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #FFF;
font-size: 20px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border: 0;
color: rgb(218, 69, 118);

}
.game-types-container{
    width: 1920px;
height: 427px;
flex-shrink: 0;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
display: grid;
grid-template-columns: repeat(5, 1fr);

justify-content: space-between;
}
.game-types{
    width: 243px;
height: 80px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
display: flex;
align-items: center;
gap: 10px;
}

.game-types > h6{
    color: #0B0223;

font-size: 20px;

font-weight: 600;
line-height: normal;
}
.footer-container{
    width: 1920px;
height: 636px;
flex-shrink: 0;
background: #0B0223;


}
.nav-section-bottom{
    display: flex;
    list-style: none;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
gap: 20px;
}
.footer-icons {
display: flex;
gap: 20px;
}

.final-list-items{
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
}
.final-list-items > li{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
}
.copyright-section{
    color: rgba(255, 255, 255, 0.60);

font-size: 16px;
font-weight: 500;
line-height: normal;
}