
.gamer-container{
    display: flex;
}
.nav-section-top{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    color: #3C354F;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
}
.nav-container{
    display: flex;
padding: 0 50px;
width: 1920px;
height: 130px;
flex-shrink: 0;

align-items: center;
justify-content: space-between;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}

.gamer-container > img{
    width: 75px;
height: 32px;
flex-shrink: 0;
}
.gamer-container{
    text-align: center;
font-size: 34px;
font-weight: 700;
gap: 20px;
align-items: center;

}
.follow-us-container{
    width: 200px;
height: 46px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
display:flex;
align-items: center;
justify-content: space-evenly;
}

.section1{
    width: 1920px;
    height: 680px;
display: flex;
justify-content: space-between;
padding: 0 50px;
align-items: center;



}
.black-title{
    color: #0B0223;

font-size: 48px;
font-weight: 600;

}
.gradient-text{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.heading-list-items{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.list-text{
    color: #534C64;
text-align: center;
font-size: 20px;
font-weight: 500;
padding-left: 10px;
}
.buttons{
    
    display: inline-flex;
padding: 30px 0;
align-items: flex-start;
gap: 10px;
}
.pink-btn{
    
    border-radius: 24px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;


}
.blue-btn{
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.section2{
    width: 1920px;
height: 600px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
padding: 0 50px;
}


.section2-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: right;
font-size: 48px;
font-weight: 700;
line-height: normal;
}
.section2-text{
    width: 520px;
    color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}

.section2-button{
    display: inline-flex;
padding: 21px 40px;

border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;

font-size: 20px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border: 0;

}
.know-more-text{
    color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;
color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px;
}
.online-games-section{
    width: 1920px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.heading-text-black{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.heading-text-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.online-game-text{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.text-image-container1{
    display: flex;
    gap: 20%;
    margin-top: 100px;
}
.left-text{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
padding-left: 300px;
}
.pink-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.background-image{
    width: 634.833px;
height: 650px;
flex-shrink: 0;
border-radius: 8px;
background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}
.front-image{
    width: 318.5px;
height: 365.083px;
flex-shrink: 0;
border-radius: 8px;
border: 10px solid #FFF;
background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}
.text-paragraph{
    width: 400px;
    color: #534C64;
text-align: right;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.position-image{
    position: relative;
}
.front-image{
position: absolute;
bottom: -10%;
left: -25%;
}